.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0 2rem;
    gap: 2rem;
}

.location {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.location a {
    font-size: 4rem;
    font-weight: 250;
}

.temperatura {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.tempertatura a {
    font-size: 3rem;
    font-weight: 250;
}

@media screen and (max-width: 768px) {

    .display {
        padding: 0 1rem;
    }
}