.display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
    width: calc(100vw - var(--nav-width));
    height: 100vh;
}

.location {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.location a {
    font-size: 4rem;
    font-weight: 250;
}

.temp {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.temp a {
    font-size: 3rem;
    font-weight: 250;
}

.temp p {
    font-size: 1.5rem;
    font-weight: 300;
}

.condition {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.remainingForecast {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.remainingForecast::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
}

.remainingForecast a {
    font-size: 1.4rem;
    font-weight: 250;
    color: #fff;
    margin: 0.4rem 0;
}

.remainingForecast .scrollbar {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    color: #fff;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.remainingForecast .remainingHour {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.4rem;
    color: #fff;
    background: rgba(20, 20, 20, 0.473);
    padding: 1.8rem;
    scroll-snap-align: start;
}

.remainingForecast .remainingHour:hover {
    background: rgba(20, 20, 20, 0.8);
    cursor: pointer;
}

.remainingForecast .remainingHour a {
    font-size: 1.2rem;
    font-weight: 250;
    color: #fff;
    margin: 0;
}

.remainingForecast .remainingHour img {
    width: 80px;
    height: 80px;
}

.astro {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.astro a {
    font-size: 1.5rem;
    font-weight: 250;
}

.astro p {
    font-size: 1rem;
    font-weight: 300;
}

@media screen and (max-width: 1024px) {
    .display {
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .remainingForecast {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 40%;
    }

    .remainingForecast .scrollbar {
        flex-direction: column;
        gap: 0.2rem;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        height: 40vh;
    }

    .remainingForecast .remainingHour {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.4rem;
        color: #fff;
        padding: 1.2rem 1.8rem;
        scroll-snap-align: start;
    }
}