.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0 2rem;
    gap: 2rem;
}

.location {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.location a {
    font-size: 4rem;
    font-weight: 250;
}

.temp {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.temp a {
    font-size: 3rem;
    font-weight: 250;
}

.temp p {
    font-size: 1.5rem;
    font-weight: 300;
}

.condition {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.other {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.other div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.other-title {
    font-size: 2.2rem;
    font-weight: 320;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {

    .display {
        padding: 0 1rem;
    }

    .other {
        font-size: 1.2rem;
        flex-direction: column;
        gap: 2rem;
    }

    .other-title {
        margin-bottom: 0;
        font-size: 1.8rem;
    }

}